/* header{
    position: sticky;
} */

.header-fixed {
    padding: 40px 40px;
    height: 80px;
    box-sizing: border-box;
    top:-100px;
    -webkit-transition:top 0.3s;
    transition:top 0.3s;
}

.header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.header-fixed-placeholder{
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: left;
    line-height: 40px;
    margin: 0;
}

/* The navigation links */

.header-fixed .header-limiter a {
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    line-height: 40px;
    float: right;
}

.header-fixed .header-limiter nav a{
    display: inline-block;
    padding: 0 50px;
    text-decoration:none;
    color: black;
}

.header-fixed .header-limiter nav a:hover{
    font-style: italic;
}

/* Fixed version of the header */

body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body.fixed .header-fixed-placeholder {
    display: block;
}

body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}

/* Making the header responsive */

@media all and (max-width: 800px) {

    .header-fixed {
        padding: 20px 0;
        height: 75px;
    }

    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }

    .header-fixed .header-limiter nav {
        line-height: 1;
        float:none;
    }

    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }

    body.fixed .header-fixed {
        display: none;
    }

    .middlelogo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

/* scroll to top */

.scrolltotop{
  position: fixed;
  top: 85vh;
  left: 90vw;
  opacity: 0.5;
}

.scrolltotop:hover{
  opacity: 1;
  transition: 0.5s;
}

@media all and (max-width: 800px) {
  .scrolltotop{
    opacity: 0;
  }
  .scrolltotop:hover{
    opacity: 0;
  }
}

/* HOMPAGE */
.italic{
    font-style: italic;
}

.middlelogo{
    width: 50vw;
    padding-top: 100px;
    padding-bottom: 25px;
}

.introductiontext{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.bgimage{
    /* background-image: url(/image/icon/background.jpg); */
    height: 100vh;
}

@media all and (max-width: 400px) {
    .espace{
        height: 20px;
    }
}

/* PRESENTATION EXPOS ETC */

.paddingcolumn{
    padding: 50px 0;
    padding-bottom: 150px;
}
.paddingeachcolumn{
    padding: 20px 0;
}

.redbg{
    background-color: #FF3B00;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.redbg:hover{
    background-color: #FFFF00;
    transition: 0.5s;

}

.redbg img{
    width: 60vw;
    height: 200px;
    opacity: 85%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.redbg a{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FFFFF2;
    padding: 1.5%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 140px;
    text-align: center;

}

.redbg a:hover{
    background-color: #FFFF00;
    font-style: italic;
    transition: 1s;
}

/* effet hover h2 */

h2::before {  
	transform: scaleX(0);
	transform-origin: bottom right;
  }
  
  h2:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
  }
  
  h2::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	inset: 0 0 0 0;
	background: #FFE3FD;
	z-index: -1;
	transition: transform .8s ease;
  }

/* yellow btn */

.btngroup{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.yellowbtn{
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFFF00;
  padding: 6%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  width: 140px;
  text-align: center;

}

.yellowbtn:hover{
  font-style: italic;
  transition: 1s;
}



.btngroup div{
  text-align: center;
}

@media all and (max-width: 800px) {
  .btngroup{
    display: grid;
  }

  .btnpaddingbottom{
    padding-bottom: 50px;
  }
}

/* footer */

footer{
  background-color: #FFE3FD;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;

}

.mail{
  text-decoration: none;
  color: black;
}

footer p{
  font-family: 'Futura PT', sans-serif;
  font-size: large;
}

.social{
  padding: 0 3%;
}

@media all and (max-width: 1000px) {
  footer{
    display: grid;
    padding-top: 50px;
    padding-bottom: 0;
  }
  footer h3{
    padding-top: 20px;
  }
    footer iframe{
    width: 100vw;
  }
  .textfooter{
    padding-left: 6vw;
  }
}