/* slider */

.padding{
    height: 450px;
    padding-top: 50px;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    margin: 0 auto;
  }

  .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%; 
    color: #EAEAEA;
    font-weight: bolder;
    font-size: 160%;
  }

  .slide:first-child {
    display: block;
  }
  

  a.slide_btn {
    color: #EAEAEA;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 700;
    
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: black;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    width: 65px;
  }
  
  @media only screen and (max-width: 800px) {
    .previous_btn {
      opacity: 0;
    }
    .next_btn {
      opacity: 0;
    }
  }

  
/* slider 1 expo */
.slide1 {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 138px;
  }
  
.slide1:nth-of-type(1) {
    background-image: url(/image/photo/expo2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }
  
  .slide1:nth-of-type(2) {
    background-image: url(/image/photo/expo3.jpg);
    background-size: cover;
    background-position: center;
  
  }
  
  .slide1:nth-of-type(3) {
    background-image: url(/image/photo/expo1.jpg);
    background-size: cover;
    background-position: bottom;
    opacity: 0.9;
  }
  
  .slide1:nth-of-type(4) {
    background-image: url(/images/photos/happy.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }

  .slide_buttons1 {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  

/* slider 2 ateliers */
.slide2 {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 138px;
  }
  
.slide2:nth-of-type(1) {
    background-image: url(/image/photo/atelier2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }
  
  .slide2:nth-of-type(2) {
    background-image: url(/image/photo/atelier3.jpg);
    background-size: cover;
    background-position: center;
  
  }
  
  .slide2:nth-of-type(3) {
    background-image: url(/image/photo/atelier1.jpg);
    background-size: cover;
    background-position: bottom;
    opacity: 0.9;
  }
  
  .slide2:nth-of-type(4) {
    background-image: url(/images/photos/happy.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }

  .slide_buttons2 {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  /* slider 3 evenement */
.slide3 {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 138px;
  }
  
.slide3:nth-of-type(1) {
    background-image: url(/image/photo/evenement2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }
  
  .slide3:nth-of-type(2) {
    background-image: url(/image/photo/evenement3.jpg);
    background-size: cover;
    background-position: center;
  
  }
  
  .slide3:nth-of-type(3) {
    background-image: url(/image/photo/evenement1.jpg);
    background-size: cover;
    background-position: bottom;
    opacity: 0.9;
  }
  
  .slide3:nth-of-type(4) {
    background-image: url(/images/photos/happy.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }

  .slide_buttons3 {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
    /* slider 4 cafe */
.slide4 {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 138px;
  }
  
.slide4:nth-of-type(1) {
    background-image: url(/image/photo/cafe2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }
  
  .slide4:nth-of-type(2) {
    background-image: url(/image/photo/cafe3.jpg);
    background-size: cover;
    background-position: center;
  
  }
  
  .slide4:nth-of-type(3) {
    background-image: url(/image/photo/cafe1.JPG);
    background-size: cover;
    background-position: bottom;
    opacity: 0.9;
  }
  
  .slide4:nth-of-type(4) {
    background-image: url(/images/photos/happy.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
  
  }

  .slide_buttons4 {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  